{% extends "coellection/header.html" %}
{% block content %}
<!-- django extension coelection/game_list.html -->
<div class="page-header">
    <h2 style="display: inline;">Amiibos</h2>
</div>
<table class="table table-bordered table-responsive shadow" style="margin: 2%; width: 96%;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Box</th>
            <th>Figure</th>
            <th>Donor</th>
        </tr>
    </thead>
    {% for amiibo in amiibos %}
    <tr>
        <td><a href="/coellection/amiibo/{{amiibo.slug}}">{{amiibo.title}}</a></td>
        <td>{{amiibo.get_box_display}}</td>
        <td>{{amiibo.get_figure_display}}</td>
        <td>{{amiibo.donor}}</td>
    </tr>
    {% endfor %}
</table>
{% include 'coellection/includes/pagination.html' %}
<!-- end django extension -->
{% endblock %}