{% extends "coellection/header.html" %}
{% load staticfiles %}
{% block content %}
<!-- TODO: Break excessive inline CSS styling into separate file (coellection.css) -->
<!-- django extension coelection/home.html -->
<div class="page-header">
    <!-- TODO: make this one dynamic (linked) div -->
    <h2 style="display: inline;">Top Donor : </h2>
        <span id="top_donor" style="font-size: 14pt;">
            <img id="avatar"
                 style="height: 32px;
                        border-radius: 25px;
                        border: 2px solid #989898;
                        margin-bottom: 5px;">
        </span>
        <a id="twitter_link" href="#" style="font-size: 14pt;"></a>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-sm-4">
        <a href="/coellection/games" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Games</h3>
            </div>
            <div class="panel-body"
                style="height: 300px;
                       background-image: url('{% static 'images/games.png' %}');
                       background-size: cover;
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.game_count }} game(s)</span>
            </div>
        </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/coellection/platforms" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Platforms</h3>
            </div>
            <div class="panel-body"
                style="height: 300px;
                       background-image: url('{% static 'images/platforms.png' %}');
                       background-size: cover;
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.platform_count }} system(s)</span>
            </div>
        </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/coellection/amiibos" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Amiibos</h3>
            </div>
            <div class="panel-body"
                style="height: 300px;
                       background-image: url('{% static 'images/amiibos.png' %}');
                       background-size: cover;
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.amiibo_count }} figure(s)</span>
            </div>
        </div>
        </a>
    </div>
</div>
<!-- There's probably a better way to dynamically generate these links -->
<!-- <script type="text/javascript">
    function donorOutput(input) {
        var donor = input;
        if (donor.startsWith("@")) {
            var url = "https://twitter.com/" + donor.slice(1);
            return donor.link(url);
        };
        return donor;
    }
</script> -->
<center>
    <h3>Thanks to all who have donated!</h3>
    {% for donor in view.contributors %}
    | <script>
        document.write(donorOutput("{{ donor }}"));
      </script>
    {% endfor %}
    |
</center>
<script>
    // If the donor is a twitter handle, this will make a nicely formatted
    populateTopDonor("{{ view.top_donor }}");
</script>
<!-- end django extension -->
{% endblock %}