{% extends "coellection/header.html" %}
{% load staticfiles %}
{% block content %}
<!-- django extension coelection/home.html -->
<div class="page-header">
    <!-- TODO: make this one dynamic (linked) div -->
    <h2 style="display: inline;">Top Donor : </h2>
        <span id="top_donor" style="font-size: 16pt;">
            <img id="avatar_sm">
        </span>
        <a id="twitter_link" href="#" style="font-size: 16pt;"></a>
        <span id="donations" style="font-size: 16pt;"></span>
</div>
<center>
<div class="row" style="margin-top: 15px; margin-bottom: -15px; width: 85%;">
    <div id="section_carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#section_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#section_carousel" data-slide-to="1"></li>
        <li data-target="#section_carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/coellection/games" style="text-decoration: none;">
            <div class="panel shadow">
                <div class="panel-heading">
                    <h3>Games</h3>
                </div>
                <div class="panel-body carousel-image"
                    style="background-image: url('{% static 'images/games.png' %}');">
                </div>
                <div class="panel-footer" style="height: 30px;">
                    <span class="badge badge-inverse"> {{ view.game_count }} game(s)</span>
                </div>
            </div>
            </a>
        </div>

        <div class="item">
            <a href="/coellection/platforms" style="text-decoration: none;">
            <div class="panel shadow">
                <div class="panel-heading">
                    <h3>Platforms</h3>
                </div>
                <div class="panel-body carousel-image"
                    style="background-image: url('{% static 'images/platforms.png' %}');">
                </div>
                <div class="panel-footer" style="height: 30px;">
                    <span class="badge badge-inverse"> {{ view.platform_count }} system(s)</span>
                </div>
            </div>
            </a>
        </div>

        <div class="item">
            <a href="/coellection/amiibos" style="text-decoration: none;">
            <div class="panel shadow">
                <div class="panel-heading">
                    <h3>Amiibos</h3>
                </div>
                <div class="panel-body carousel-image"
                    style="background-image: url('{% static 'images/amiibos.png' %}');">
                </div>
                <div class="panel-footer" style="height: 30px;">
                    <span class="badge badge-inverse"> {{ view.amiibo_count }} figure(s)</span>
                </div>
            </div>
            </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#section_carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#section_carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<h3>Thanks to all who have donated!</h3>
<div id="contributors">
    <div id ="donor_list">
        {% for donor in view.contributors %}
        | <script>
            document.write(donorOutput("{{ donor }}"));
          </script>
        {% endfor %}
        |
    </div>
</div>
</center>
<script>
    populateTopDonor("{{ view.top_donor }}");
</script>
<!-- end django extension -->
{% endblock %}