{% extends "coellection/header.html" %}
{% load staticfiles %}
{% block content %}
<!-- django extension coelection/home.html -->
<div class="page-header">
    <h2 style="display: inline;">Top Donor: </h2>
        <span style="font-size: 14pt;">{{ view.top_donor }} donations</span>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-sm-4">
        <a href="/coellection/games" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Games</h3>
            </div>
            <div class="panel-body"
                style="height: 300px;
                       background-image: url('{% static 'images/games.png' %}'); 
                       background-size: cover; 
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.game_count }} game(s)</span>
            </div>
        </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/coellection/platforms" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Platforms</h3>
            </div>
            <div class="panel-body" 
                style="height: 300px;
                       background-image: url('{% static 'images/platforms.png' %}'); 
                       background-size: cover; 
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.platform_count }} system(s)</span>
            </div>
        </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/coellection/amiibos" style="text-decoration: none;">
        <div class="panel shadow">
            <div class="panel-heading">
                <h3>Amiibos</h3>
            </div>
            <div class="panel-body" 
                style="height: 300px;
                       background-image: url('{% static 'images/amiibos.png' %}'); 
                       background-size: cover; 
                       margin-top: 5px">
            </div>
            <div class="panel-footer" style="height: 30px;">
                <span class="badge badge-inverse"> {{ view.amiibo_count }} figure(s)</span>
            </div>
        </div>
        </a>
    </div>
</div>
<center>
    <h3>Thanks to all who have donated!</h3>
    {% for donor in view.contributors %}
    | {{ donor }}
    {% endfor %}
    |
</center>
<!-- end django extension -->
{% endblock %}