{% extends "coellection/header.html" %}
{% block content %}
<!-- django extension coelection/game.html -->
<br>
<div class="panel shadow">
    <div class="panel-heading">
        <h3 style="display: inline;">{{platform.title}}</h3>
        <span style="float: right;">{{platform.model}}</span>
    </div>
    <div class="panel-body">
        UPC: {{platform.upc}}<br>
        Serial: {{platform.serial}}<br>
        <br>
        <table class="table table-bordered table-responsive" style="width: 90%;">
            <thead>
                <tr>
                    <th>Works</th>
                    <th>Modded</th>
                    <th>Box</th>
                    <th>Manual</th>
                    <th>Insert</th>
                    <th>Vid Cable</th>
                    <th>Pwr Cable</th>
                </tr>
            </thead>
            <tr>
                <td>{{platform.get_plays_display}}</td>
                <td>{{platform.modded}}</td>
                <td>{{platform.get_box_display}}</td>
                <td>{{platform.get_manual_display}}</td>
                <td>{{platform.get_insert_display}}</td>
                <td>{{platform.get_vid_cable_display}}</td>
                <td>{{platform.get_pwr_cable_display}}</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        Notes: {{platform.notes}}
        <span style="float: right;">Donated By: {{platform.donor}}</span>
    </div>
</div>
<!-- end django extension -->
{% endblock %}