{% extends "coellection/header.html" %}
{% block content %}
<!-- django extension coelection/game_list.html -->
<div class="page-header">
    <h2 style="display: inline;">Platforms</h2>
</div>
<table class="table table-bordered table-responsive shadow" style="margin: 2%; width: 96%;">
    <thead>
        <tr>
            <th>System</th>
            <th>Model</th>
            <th>Works</th>
            <th>Donor</th>
        </tr>
    </thead>
    {% for platform in platforms %}
    <tr>
        <td><a href="/coellection/platform/{{platform.slug}}">{{platform.title}}</a></td>
        <td>{{platform.model}}</td>
        <td>{{platform.get_plays_display}}</td>
        <td>{{platform.donor}}</td>
    </tr>
    {% endfor %}
</table>
{% include 'coellection/includes/pagination.html' %}
<!-- end django extension -->
{% endblock %}