{% block content %}
<!-- django include coelection/includes/order_by.html -->
<!-- A | B | C | D | E | F | G | H | I | J | K | L | M | N | O | P | Q | R | S | T | U | V | W | X | Y | Z -->
<div class="container">
| <a href="/coellection/games/A">A</a>
| <a href="/coellection/games/B">B</a>
| <a href="/coellection/games/C">C</a>
| <a href="/coellection/games/D">D</a>
| <a href="/coellection/games/E">E</a>
| <a href="/coellection/games/F">F</a>
| <a href="/coellection/games/G">G</a>
| <a href="/coellection/games/H">H</a>
| <a href="/coellection/games/I">I</a>
| <a href="/coellection/games/J">J</a>
| <a href="/coellection/games/K">K</a>
| <a href="/coellection/games/L">L</a>
| <a href="/coellection/games/M">M</a>
| <a href="/coellection/games/N">N</a>
| <a href="/coellection/games/O">O</a>
| <a href="/coellection/games/P">P</a>
| <a href="/coellection/games/Q">Q</a>
| <a href="/coellection/games/R">R</a>
| <a href="/coellection/games/S">S</a>
| <a href="/coellection/games/T">T</a>
| <a href="/coellection/games/U">U</a>
| <a href="/coellection/games/V">V</a>
| <a href="/coellection/games/W">W</a>
| <a href="/coellection/games/X">X</a>
| <a href="/coellection/games/Y">Y</a>
| <a href="/coellection/games/Z">Z</a>
|
</div>
<!-- end django include -->
{% endblock %}